{% extends 'base.html.twig' %}

{% block title %}Cours
{% endblock %}

{% block style_add %}
	<link rel="stylesheet" href="{{asset('css/navbar.css')}}">
	<link rel="stylesheet" href="{{asset('css/footer.css')}}">
	<link rel="stylesheet" href="{{asset('css/courspage.css')}}">
{% endblock %}

{% block header %}
	{% include 'navbar.html.twig' %}
{% endblock %}

{% block body %}
	<div class="cours-section">
        <div class="cours-content">
		<h1>Cours :</h1>
		<select name="langages" id="langage-select">
			<option value="">Langages</option>
			<option value="HTML">HTML</option>
			<option value="CSS">CSS</option>
			<option value="JS">JavaScript</option>
			<option value="reactjs">REACT.js</option>
			<option value="php">PHP</option>
			<option value="symfony">Symfony</option>
		</select>

        {% block courscard %}
            {% include 'courscard.html.twig' %}
        {% endblock %}
        </div>
	</div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{asset('javascript/top_button.js')}}"></script>

	<script type="text/javascript">
		const toggle = document.querySelector('.form .icon');
        const fromWrapper = document.querySelector('.form');

        toggle.addEventListener('click', function () {
            const icon = document.getElementsByClassName('fas');
            const form = document.getElementsByClassName('form');
            
            this.classList.toggle = ('active');
            fromWrapper.classList.toggle('active');

            console.log(icon);

            if (form[0].classList.contains('active')) {
                console.log('Croix');
                icon[0].src= "{{asset('images/Vector.png')}}";
            } else {
                console.log('Loupe');
                icon[0].src= "{{asset('images/magnifying-glass-solid.png')}}";
            }
        })
</script>
{% endblock %}

{% block footer %}
	{% include 'footer.html.twig' %}
{% endblock %}
